.card-grid__like{
  background-color: transparent;
  background-image: url('../../../images/liketransp.svg');
  border: none;
  height: 19px;
  outline: none;
  padding: 0;
  transition: .8s;
  width: 22px;
  cursor: pointer;
}

.card-grid__like:hover{ 
  opacity: 0.5;
}
